@page
@model ConcertCentral.Pages.EventPlanners.DeleteModel

@{
    ViewData["Title"] = "Delete";
    <link rel="icon" href="/images/ConcertCentral.png">
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EventPlanner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventPlanner.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventPlanner.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventPlanner.StreetAddressOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventPlanner.StreetAddressOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventPlanner.StreetAddressTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventPlanner.StreetAddressTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventPlanner.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventPlanner.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventPlanner.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventPlanner.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventPlanner.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventPlanner.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventPlanner.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventPlanner.ContactNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EventPlanner.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
